<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Knock Knock</title>
  <meta name="description" content="TWSG: Knock and the door shall open">
  <link rel="stylesheet" href="/public/css/style.css">
</head>
 
<body>
    <div id="wrapper">
        <header>
            <h1>Look Ma, no hands! The door just opened</h1>
        </header>
         
        <div>
            <p>WIP: Imagine the buttons are here.</p>
        </div>
         
        <footer>
            <p>©ThoughtWorks Singapore Makers</p>
        </footer>
    </div>
</body>
</html>